{% extends "car_park/base.html" %}
{% block title %}O stronie{% endblock %}
{% block heading %}
    <h1>O&nbsp;stronie</h1>
{% endblock heading %}
{% block content %}
    <p>Jest to serwis tworzony przez użytkowników. To właściciele samochodów / użytkownicy wprowadzają dane o
        parkingach. Głównym celem jest ostrzeżenie użytkowników parkingów przed wygórowanymi opłatami dodatkowymi.
        Szczególnie jeśli chodzi o obrzeża miast i inne miejsca w których nikt nie spodziewałby się "opłaty
        dodatkowej" w wysokości kilkuset złotych.</p>

    <dl>
        <dt>Funkcjonalności:</dt>
        <dd>Ostrzeganie przed zawyżonymi opłatami parkingowymi</dd>
        <dd>Wyszukiwanie parkingu</dd>
        <dd>Dodawanie parkingu (adres, opis)</dd>
        <dd>Dodawanie taryfy</dd>
        <dd>Ocena Parkingu</dd>
        <dd>Zapisywanie parkingu do swojej listy</dd>
    </dl>
{% endblock content %}
