{% extends "car_park/base.html" %}
{% block title %}Wszystkie parkingi{% endblock %}
{% block head %}
    {% load leaflet_tags %}
    {{ block.super }}
    {% leaflet_css %}
    {% leaflet_js %}
{% endblock head %}

{% block content %}
    <div>
        {% leaflet_map "all_car_parks_map" callback="map_init" %}
    </div>

    <script type="text/javascript">
      function map_init(map, options) {
        let lat;
        let lon;

        {% for object in object_list %}
          lat = "{{ object.latitude_y }}";
          lon = "{{ object.longitude_x }}";

          L.marker([lat, lon]).addTo(map)
              .bindPopup('{{ object.name }}<br><a href="{% url 'car_park_detail' object.pk %}">więcej</a>');
        {% endfor %}
        const bounds = [["49.0020468", "14.0696389"], ["55.036025", "24.145783"]];
        map.fitBounds(bounds);
      }
      document.getElementById('all_car_parks_map').style.height = '500px';
    </script>
{% endblock content %}
