{% extends "car_park/base.html" %}
{% block title %}Zmień hasło{% endblock %}
{% block heading %}
    <h1>Zmień&nbsp;hasło</h1>
{% endblock heading %}
{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <button type="submit">Zmień hasło</button>
        </form>
        <br>
        <br>
        <a href="{% url 'view_profile' %}">
            <button type="button">Powrót do informacji o profilu</button>
        </a>
    </div>
{% endblock content %}
